@import "dropdown.css";
@import "side-panel.css";
@import "login.css";
@import "options.css";
@import "tables.css";
@import "communications.css";
@import "applecturer.css";
@import "appstudent.css";
@import "appstaff.css";
@import "schoolindex.css";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

input[type="email"], input[type="password"] {
    text-align: center;
}
