@import "dropdown.css";
@import "side-panel.css";
@import "options.css";
@import "communications.css";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
